/* body{
    background-color: aqua;
}
h2, h1, h3{
    color: white;
    background-color: red;
} */
/* h1{
background-color: aqua;
}

#heading1{
    font-family: 'Times New Roman', Times, serif;  
    color: blue;
} */

/* div>p{  direct child selector
    color: white;
    background-color: red;
}

div p{  /*all (child) descendant selector
    color: white;
    background-color: red;
} */

/* div~p{  /*general sibling selector
    color: white;
    background-color: red;
} */

p:nth-child(2){
    color: white;
    background-color: red;
}

div p:nth-of-type(1){
    background-color: aqua;
    font-size: xx-large;
}