/* .container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;    
    border: 1px solid red;
    justify-content: space-around;
} */

.container{
    display: grid;
    /* grid-template-columns: 200px 300px 400px 300px; */
    grid-template-columns: repeat(4, 1fr); /*4 columns*/
    grid-template-rows: 400px 500px 200px;
    border: 1px solid red;
}
.child1{
    border: 1px dotted blue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr 1fr;
    height: 500px;
    width: 400px;
    text-align: center;
    padding: 0;
    

}
.child10{
    grid-column-start: 1;
    grid-column-end: 3;
    
}

.child11{
    height: 100px;
    width: 100px;
    margin-left: 50px;
    margin-top: 20px;
}

.img1{
    object-fit: contain;
}

.child12{
    height: 100px;
    width: 100px;
    /* border: 1px dotted aqua;
    background-color: brown; */
    margin-top: 20px;
    margin-left: 50px;
}

.child13{
    height: 100px;
    width: 100px;
    /* border: 1px dotted blueviolet;
    background-color: chartreuse; */
    margin-left: 50px;
}

.child14{
    height: 100px;
    width: 100px;
    /* border: 1px dotted greenyellow;
    background-color: cornflowerblue; */
    margin-left: 50px;
}

.child2{
border: 1px dotted blue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr 1fr;
    height: 500px;
    width: 400px;
    text-align: center;
    padding: 0;
}
.child3{
border: 1px dotted blue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr 1fr;
    height: 500px;
    width: 400px;
    text-align: center;
    padding: 0;
}
.child4{
border: 1px dotted blue;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr 1fr;
    height: 500px;
    width: 400px;
    text-align: center;
    padding: 0;
}